body {
    margin: 0;
    font-family: Lato;
}

/* Intro section */
.intro-section {
    position: relative;
}

.name-container {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    /* font-family: Lato; */
    font-weight: 400;
    color: white;
}

section>img {
    width: 100%;
}

/* Work section */
.work-section {
    background-color: #000;
}

.work-container {
    font-size: 80px;
    font-weight: 400;
    text-align: center;
}

span {
    font-size: 96px;
    color: white;
}

.grid-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.card-item {
    max-width: 340px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 2px 5px 8px rgb(187, 185, 185);
}

div>img {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    width: 100%;
    height: 50%;
}

.card-content {
    display: grid;
    grid-template-columns: auto-fit, minmax(340px, 1fr);
    padding: 15px;
}

/* footer section */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: whitesmoke;
    margin: 20px;
}

#contact-me {
    background-color: rgb(77, 95, 0);
    height: 180px;
    width: 530px;
    padding: 10px;
}

#about-me {
    background-color: rgb(118, 28, 0);
    height: 180px;
    width: 530px;
    padding: 10px;
}

#contact-me>h1 {
    font-size: 45px;
    font-weight: 100;
}

#about-me>h1 {
    font-size: 45px;
    font-weight: 100;
}